/*--------------------
    VARIABLES
----------------------*/
:root {
    // Colors
    --primary-color: black;
    --secondary-color: red;
    // Text colors
    --first-text-color: #fff;
    // Container size
    --container-size: 80rem;
}